@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    z-index: 3;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(0,0,0,.95), rgba(100,0,40));
    overflow: hidden;
}

header {
    height: 15vh;
    width: 80vw;
}

header > nav {
    display: flex;
    margin-left: 40%;
    margin-top: 1.5%;
}

.navitems {
    text-overflow: ellipsis;
    text-decoration: none;
    margin: 1rem;
    color: gray;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Tilt Neon', cursive;
    height: fit-content;
    transition: .8s ease-in-out;
}

.navitems:hover {
    color: white;
    transform: scale(1.03);
    transition: .2s ease-in-out;
    height: fit-content;
    text-shadow: 0 0 10px #ff4a3d,
    0 0 20px #ff4a3d,
    0 0 40px #ff4a3d,
    0 0 80px #ff4a3d,
    0 0 100px #030303;
}

.mainsection {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    align-items: center;
    width: 35%;
    height: 60vh;
}

.sitelogo{
    margin-left: 30%;
    text-decoration: none;
    color: #0e3742;
    font-family: 'Neonderthaw', cursive;
    font-size: 50px;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%,20%,40%,50%,80%,99%
    {
        color: #0e3742;
        text-shadow: none;
    }
    100%,20%,40%,45.1%,60%,86%,0%
    {
        color: #fff;
        text-shadow: 0 0 10px #ff4a3d,
        0 0 20px #ff4a3d,
        0 0 40px #ff4a3d,
        0 0 80px #ff4a3d,
        0 0 100px #030303;
    }
}

.descript {
    font-family: 'Jost', sans-serif;
    margin-left: -13%;
    margin-top: 2.5%;
    border-radius: 10px; 
    
    background: rgba(110,110,110,.1);
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0,0,0,.1);
    width: 50%;
    height: 71vh;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.desc-content {
    font-size: 25px;
    padding: 5px 50px;
    color: gray;
}

.teamdetails {
    margin-top: 2%;
    margin-bottom: -4%;
    font-size: 25px;
    height: 100px;
    width: 500px;
    margin-left: 8%;
    border-radius: 14px;
    display: table;

}

.teamdetails > a{
    text-decoration: none;
    color: gray;
}


#yt-link > i {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 5px;

}

.meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    transition: background-color 400ms, border-color 400ms;
  }
  
  .meta-link:hover {
    background-color: rgba(25, 5, 5, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  #blob {
    background-color: white;
    height: 12vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #370000,#860b0d);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: 1;
    filter: blur(200px);
  }
  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }

  
@media (min-width: 480px) {

  
    .fas fa-play {
      display: block;
      --bg-color: var(--dark-orange);
    }
    
  }

  @media (min-width: 550px) {


    .logo{
      max-width: 550px;
      width: 100%;
      margin-inline: auto;
    }
}

    @media (min-width: 768px) {

        .logo { max-width: 720px; }
    }

        @media (min-width: 992px) {

        
            :root {
        
          
              --section-padding: 120px;
          
            }
        }

            @media (min-width: 1200px){

                .logo { max-width: 1200px; }
            }